.btn{
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border-radius: 10%;
  background-color: tan;
  color: teal;
}
.heading{
  color: teal;
}
input{
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: teal;
  color: whitesmoke;
}